.articles div {
  height: 100px;
  width: 150px;
  background-color: beige;
  margin: 16px;
  box-sizing: border-box;
}
.articles {
  display: flex;
}
.visible-text {
  overflow: unset;
}
.cropped {
  overflow: hidden;
}
.both-scrolls {
  overflow: scroll;
}
.vertical-scroll {
  overflow: auto;
}
