* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  height: 3em;
  margin: 1em;
  background-color: #eee;
  display: flex;
  align-items: center;
}
.my-button {
  margin: auto;
  font-size: 2em;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}
.navigation {
  max-width: 20%;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}
.nav-list-item {
  box-sizing: border-box;
  background-color: #808080;
  height: 2em;
  margin-bottom: 0.5em;
  display: flex;
}
.nav-list-link {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  padding-top: 0.45em;
  text-decoration: none;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
  .my-button {
    visibility: hidden;
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    visibility: hidden;
  }
}
