.gallery {
  display: flex;
  flex-direction: row;
}
.image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 16px;
  box-sizing: border-box;
  border: 1px dotted gray;
}
