.content {
  min-height: 100vh;
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
}
.gallery {
  display: flex;
  width: 80%;
  background-color: coral;
}
.ideas {
  display: flex;
  width: 20%;
  background-color: aqua;
}
.idea {
  white-space: nowrap;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
  padding: 4px;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: auto;
}
.image {
  max-width: 100%;
  margin: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
