* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
}
.fancy-button {
  width: 150px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  background-image: linear-gradient(45deg, yellow, red);
  color: white;
  border: none;
  margin: auto;
  text-transform: uppercase;
  font-weight: 700;
  animation: jump 0.5s 0.4s 2 ease-in-out alternate, spin 0.5s ease-in-out,
    hide 1s 2s ease forwards;
}
@keyframes jump {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2000px);
  }
}
