td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 16px;
  box-sizing: border-box;
}
th {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-weight: unset;
}

/* tbody tr:nth-child(even) td:nth-child(2n) {
  background-color: black;
}
tbody tr:nth-child(even) td:last-child {
  background-color: unset;
}
tbody tr:nth-child(odd) td:nth-child(2n + 1) {
  background-color: black;
 } */
tbody tr:nth-child(odd) td:first-child {
  background-color: unset;
}
tr {
  text-align: center;
}
tr {
  text-align: center;
}
tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}
tr:nth-child(even) td:nth-child(odd) {
  background-color: black;
}
td:first-child {
  background-color: white !important;
  border: none;
}

tr:last-child > td {
  background-color: white !important;
  border: none;
}
td:last-child {
  background-color: white !important;
  border: none;
}
tr:first-child > td {
  background-color: white !important;
  border: none;
}
