a[target="_blank"] {
  color: green;
}
ul {
  background-color: yellow;
}
footer {
  border: 3px dashed blue;
}
header {
  border: 3px dashed blue;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: 20px;
}
article.new {
  font-size: 24px;
}
li.new {
  background-color: red;
}
.new.posted-today {
  background-color: pink;
}
