a[target="_blank"] {
  color: green;
}
ul,
ol {
  background-color: yellow;
}
footer {
  border: 3px dashed blue;
}
header {
  border: 3px dashed blue;
}
h1 {
  margin-left: 19px;
}
h2,
h3,
h4 {
  margin-left: 20px;
}
.les {
  margin-left: 16px;
}
article.new {
  font-size: 24px;
}
li.new {
  background-color: red;
}
.new.posted-today {
  background-color: pink;
}
