.checkbox {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  margin: 16px;
  margin-left: 32px;
}
input[type="checkbox"] {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.checkmark {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 0px;
  left: 0px;
  background-color: #d3d3d3;
}
.checkbox input:checked + .checkmark {
  background-color: #006400;
}
