header {
  text-align: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
.article-list {
  display: flex;
}
.article {
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
}
