header {
  text-align: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
.articles-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.article {
  width: 200px;
  flex-shrink: 0;
  flex-grow: 1;
}
