header {
  text-align: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
.article {
flex
  min-width: 300px;
  flex-grow: 1;
}
