.article {
  margin: 8px;
  padding: 16px;
  display: block;
  background-color: bisque;
  flex-basis: 200px;
  flex-grow: 1;
}
.three {
  max-width: 400px;
}
.four {
  max-width: 400px;
}
.articles-list {
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
}
header {
  display: flex;
  justify-content: center;
}
