.page {
  font-size: 16px;
  font-family: monospace;
  background-color: bisque;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form {
  margin: 0 auto;
  background-color: aqua;
  box-sizing: border-box;
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.form-title {
  text-align: center;
  text-transform: uppercase;
}
.form-control {
  margin-bottom: 8px;
}
.form-input {
  height: 32px;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #808080;
  padding-left: 2px;
}
.submit-button {
  margin-top: 16px;
  width: 100%;
  height: 32px;
  text-transform: uppercase;
  background-color: #ff7f50;
  border-radius: 4px;
  color: white;
}
.form-input:invalid {
  border: solid red 3px;
}
