* {
  box-sizing: border-box;
}
.html {
  width: 100%;
}
.body {
  width: 100%;
}
.page {
  width: 1400px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header__menu {
  display: flex;
  margin: 41px auto 0px auto;
  justify-content: center;
  width: 1140px;
  height: 62px;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 710px;
  background-color: #f3c6bd;
  flex: 0 0 auto;
}
.main__content {
  flex: 1 0 auto;
}
.navigation {
  font-family: "Work Sans", sans-serif;
  margin: auto 0 auto auto;
  display: flex;
  line-height: 25px;
  font-size: 18px;
  padding: 0px;
  width: 273px;
  height: 25px;
  justify-content: space-between;
}
.navigation a {
  text-decoration: none;
  color: black;
}
.navigation .selected {
  font-weight: 700;
}
.logo {
  display: flex;
}
.logo__text {
  margin-left: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.logo__name {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400px;
}
.header__button {
  width: 160px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  border: none;
  box-shadow: none;
  padding: 0;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
.button_top {
  margin: auto 0 auto;
}
.arrow {
  margin: auto 54px auto 11px;
  width: 8px;
  height: 5px;
}
.header__info {
  z-index: 1;
  width: 754px;
  margin-left: 126px;
  margin-top: 81px;
}
.header__info_main {
  font-family: "Work Sans", sans-serif;
  font-size: 80px;
  font-weight: 700;
}
.header__info_description {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  width: 456px;
  height: 102px;
  margin-top: 34px;
  margin-bottom: 58px;
  font-weight: 400;
  line-height: 34px;
}
.button_white {
  background-color: white;
  color: #3040c4;
}
.header__image {
  position: absolute;
  top: 185px;
  left: 579px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png);
  border: none;
  width: 796px;
  height: 448px;
}
.questions {
  display: flex;
  justify-content: space-around;
  padding-left: 130px;
  padding-right: 131px;
  width: 1400px;
  height: 255px;

  background-color: #f4f5f7;
}
.questions__container {
  margin: auto 0px auto 0px;
  width: 555px;
  height: 102px;
}
.questions__header {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
.questions__description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
.partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;
  max-height: 75px;
  margin-top: 30px;
  margin-bottom: 55px;
}
.partners__icon {
  height: 100%;
  align-items: center;
  margin: auto;
  filter: grayscale(100%);
}
.features__side-image {
  position: absolute;
  top: 40%;
}
.features__main-image {
  position: absolute;
  left: 714px;
  top: 0px;
  height: 597px;
}
.features {
  position: relative;
}
.features__info {
  margin-left: 130px;
  width: 462px;
}
.features__caption {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #009b4d;
  margin-bottom: 24px;
}
.features__header {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
}
.features__description {
  margin-top: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.features__customers {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
}
.features__customers_header {
  margin-left: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
}
.features__customers_description {
  margin-top: 8px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.features__first-line {
  margin-top: 17px;
  margin-bottom: 17px;
  border: none;
  height: 3px;
  color: #3142c6;
  background-color: #3142c6;
}
.features__item {
  display: flex;
  margin-bottom: 22px;
  margin-top: 22px;
}
.features__item_icon {
  height: 100%;
}
.features__item_description {
  margin-left: 15px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.order {
  height: 390px;
}
.order__form {
  width: 555px;
  margin-left: 616px;
  margin-top: 106px;
}
.order__form_header {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 12px;
}
.order__form_description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
.order__form_submit {
  display: flex;
  margin-top: 26px;
}
.order__form_input {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  width: 385px;
  height: 48px;
  margin-right: 10px;
}
.order__form_trial {
  margin-top: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
}
.footer__info {
  margin-right: 126px;
}
.footer__main {
  display: flex;
  padding-left: 130px;
  padding-top: 60px;
  height: 338px;
}
.footer__bottom {
  height: 50px;
  border: 3px solid red;
}
.footer__description {
  width: 360px;
  height: 85px;
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 18px;
}
.footer__navigation {
  list-style-type: none;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
}
.footer__navigation li:hover {
  cursor: pointer;
}
.footer__navigation li:first-child {
  margin-bottom: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
