* {
  box-sizing: border-box;
}
.page {
  width: 1400px;
  margin: auto;
}
.header {
  display: flex;
  margin: auto;
  width: 1140px;
  height: 62px;
}
.navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 273px;
  height: 25px;
  justify-content: space-between;
}
.nav__list_item {
  list-style-type: none;
}
.header__button {
  padding: 0px;
  border: none;
  width: 160px;
}
