* {
  box-sizing: border-box;
}
.page {
  width: 1400px;
}
.header__menu {
  display: flex;
  margin: 41px auto 0px auto;
  justify-content: center;
  width: 1140px;
  height: 62px;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 710px;
  background-color: #f3c6bd;
}
.navigation {
  font-family: "Work Sans", sans-serif;
  margin: auto 0 auto auto;
  display: flex;
  line-height: 25px;
  font-size: 18px;
  padding: 0px;
  width: 273px;
  height: 25px;
  justify-content: space-between;
}
.navigation a {
  text-decoration: none;
  color: black;
}
.navigation .selected {
  font-weight: 700;
}
.logo {
  display: flex;
}
.logo__text {
  margin-left: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.logo__name {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400px;
}
.header__button {
  width: 160px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  border: none;
  box-shadow: none;
  padding: 0;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
}
.button_top {
  margin: auto 0 auto;
}
.arrow {
  margin: auto 54px auto 11px;
  width: 8px;
  height: 5px;
}
.header__info {
  z-index: 1;
  width: 754px;
  margin-left: 126px;
  margin-top: 81px;
}
.header__info_main {
  font-family: "Work Sans", sans-serif;
  font-size: 80px;
  font-weight: 700;
}
.header__info_description {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  width: 456px;
  height: 102px;
  margin-top: 34px;
  margin-bottom: 58px;
  font-weight: 400;
  line-height: 34px;
}
.button_white {
  background-color: white;
  color: #3040c4;
}
.header__image {
  position: absolute;
  top: 185px;
  left: 579px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png);
  border: none;
  width: 796px;
  height: 448px;
}
.questions {
  display: flex;
  justify-content: space-around;
  padding-left: 130px;
  padding-right: 131px;
  width: 1400px;
  height: 255px;

  background-color: #f4f5f7;
}
.questions__container {
  margin: auto 0px auto 0px;
  width: 555px;
  height: 102px;
}
.questions__header {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
.questions__description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
