.text {
  margin: 16px;
  border-bottom: dotted 1px black;
  display: inline-block;
  position: relative;
}
.tooltip {
  position: absolute;
  margin: 0px;
  left: 0px;
  /* top: 20px; */
  background-color: gray;
  border-radius: 4px;
  padding: 6px 8px 6px 8px;
  color: white;
  display: none;
}
.text:hover .tooltip {
  display: flex;
}
