.row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
.column {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-bird {
  width: 64px;
  height: 64px;
}
.large-bird {
  width: 320px;
  height: 320px;
}
