.mybox {
  font-size: 24px;
  /* font-weight: bold; */
  border-left: 20px dashed aqua;
  border-top: 10px solid firebrick;
  border-bottom: 10px dashed burlywood;
  border-right: 20px solid chartreuse;
  padding: 20px;
  margin: 50px 100px 50px 100px;
  width: 420px;
  height: 140px;
  background-color: bisque;
}
