@import "breakpoints.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
}
.container {
  margin: auto;
  display: flex;
  @include for-landscape {
    flex-direction: row;
  }
  @include for-portrait {
    flex-direction: column;
  }
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  @include for-small {
    background-color: #ff7f50;
  }
  @include for-medium {
    background-color: #8a2be2;
  }
  @include for-large {
    background-color: #a61;
  }
  @include for-extra-large {
    background-color: #c47;
  }
}
