a link {
  background-color: black;
  color: white;
}
a:visited {
  background-color: green;
  color: orange;
}
button:active,
a:active {
  border: 3px solid red;
}
a:hover {
  font-size: 24px;
}
button:disabled {
  border: 2px dashed gray;
}
button:enabled:hover {
  color: white;
  background-color: gray;
}
input:focus {
  background-color: orange;
}
input[type="checkbox"]:checked {
  margin-left: 20px;
}
