.container-one {
  background-color: blue;
  margin: 50px;
  padding: 50px;
}
.container-two {
  background-color: yellow;
  padding: 50px;
}
.container-three {
  background-color: green;
  padding: 50px;
}
.main-body {
  background-color: pink;
  width: auto;
  height: 100px;
}
div {
  border: 2px solid black;
}
