.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}
.spinner {
  position: relative;
}
.spinner-text {
  margin: 0 auto;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.rect {
  position: absolute;

  background-color: black;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  animation: moving 2s, blinking 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
