.block_red {
  background-color: red;
}
.block_green {
  background-color: green;
}
.block_blue {
  background-color: blue;
}
.block_yellow {
  background-color: yellow;
}
.block_black {
  background-color: black;
}
.block {
  min-width: 20%;
  height: 300px;
  flex-shrink: 0;
}
body {
  display: flex;
}
