li {
  margin-bottom: 16px;
}
ul li span {
  background-color: green;
  color: white;
}
ol li span {
  background-color: orange;
  color: white;
}
#special + li {
  border: 3px solid red;
}
#special ~ li {
  margin-left: 16px;
}
