.menu-list {
  display: none;
  padding: 0px;
  margin: 0px;
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  width: 120px;
  z-index: 1;
  position: relative;
  top: 8px;
}
.menu-item {
  padding: 16px;
  list-style-type: none;
}
.menu-item:hover {
  background-color: ghostwhite;
}
.dropdown:hover .menu-list {
  display: block;
}
.dropdown {
  margin: 16px;
  position: absolute;
}
.menu-button {
  font-size: 16px;
  color: white;
  background-color: darkgreen;
  opacity: 0.8;
  padding: 16px;
  line-height: 32px;
}
.menu-button:hover {
  opacity: 1;
  cursor: pointer;
}
