.dropdown {
  background-color: green;
  padding: 16px;
  opacity: 0.8;
  display: inline-block;
  color: white;
  margin: 16px;
  position: relative;
}
.dropdown:hover {
  opacity: 1;
}
.menu-list {
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  width: 120px;
  z-index: 1;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 50px;
  display: none;
}
.dropdown:hover .menu-list {
  display: block;
}
.menu-item {
  margin: 0px;
  list-style-type: none;
  padding: 16px;
}
