li {
  list-style-type: none;
  font-size: 1.5em;
}
.third {
  text-decoration: underline green;
  text-decoration-color: ;
}
.second {
  text-decoration: line-through;
}
.first {
  text-decoration: overline red;
}
