ul {
  font-size: 1em;
}
li {
  list-style-type: none;
  font-size: 1.5em;
}
.first {
  text-decoration: underline;
  text-decoration-color: green;
}
li:nth-child(2) {
  text-decoration: line-through;
}
.third {
  text-decoration: overline;
  text-decoration-color: red;
}
