li {
  list-style-type: none;
  font-size: 1.5em;
  position: relative;
}
.second {
  text-decoration: line-through;
}
.first {
  text-decoration: overline red;
}
.under {
  top: 26px;
  position: absolute;
  color: white;
  text-decoration: overline green;
}
