@import "layout.scss";
.consultations {
  background-color: #1968fc;
  padding: 60px;
  &__image {
    display: none;
  }
  &__header {
    color: white;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 50px;
  }
  &__description {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: white;
  }
  &__button {
    text-transform: uppercase;
    font-family: "Mulish", sans-serif;
    background-color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
    width: 320px;
    height: 50px;
    color: #1968fc;
  }
}
