@import "layout.scss";

.features {
  @include for-large {
    padding: 0px 160px 80px 160px;
    &__header {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
  @include for-small {
    margin-top: 125px;
    &__header {
      margin-bottom: 10px;
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
      margin-left: 60px;
    }
  }
}
.feature {
  @include for-large {
    background-color: white;
    width: 320px;
    height: 290px;
    box-sizing: border-box;
    margin-top: 60px;
    position: relative;
    &:nth-child(2) {
      margin-top: 80px;
    }
    &:last-child {
      margin-top: 120px;
    }
    &_header {
      display: flex;

      &_icon {
        width: 120px;
        height: 120px;
      }
      &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        margin: 20px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 20px;
        vertical-align: 160px;
        line-height: 30px;
      }
    }
    &_description {
      box-sizing: border-box;
      margin: 40px;
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      color: #11223f;
      font-size: 16px;
      line-height: 30px;
    }
    &_decoration {
      position: absolute;
      right: -5px;
      bottom: -5px;
    }
  }
  @include for-small {
    background-color: white;
    width: 520px;
    height: 200px;
    box-sizing: border-box;
    margin-left: 60px;
    margin-top: 60px;
    position: relative;
    &_header {
      display: flex;
      background-color: #f3f7ff;
      &_icon {
        width: 80px;
        height: 80px;
      }
      &_text {
        margin: 20px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
      }
    }
    &_description {
      box-sizing: border-box;
      margin: 30px 40px 30px 40px;
      font-family: "Mulish", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
    }
    &_decoration {
      position: absolute;
      right: -5px;
      bottom: -5px;
    }
  }
}
