@import "layout.scss";

.headline {
  @include for-large {
    margin: 160px;
    position: relative;
    &__title {
      font-family: "Mulish", sans-serif;
      font-weight: 600;
      width: 600px;
      font-size: 40px;
      line-height: 60px;
      color: #11223f;
    }
    &__description {
      width: 600px;
      margin-top: 20px;
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      color: #11223f;
    }

    &__button-large {
      font-family: "Mulish", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      margin-top: 40px;
      width: 300px;
      height: 50px;
      text-transform: uppercase;
      color: white;
      border: none;
      outline: none;
      background-color: #1968fc;
    }
    &__button-small {
      display: none;
    }
    &__image {
      position: absolute;
      right: 0px;
      top: 45px;
    }
    &__link {
      display: none;
    }
  }
  @include for-small {
    &__title {
      padding-left: 80px;
      margin-top: 80px;
      font-family: "Mulish", sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      width: 480px;
    }
    &__description {
      width: 480px;
      padding-left: 80px;
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__button-large {
    display: none;
  }
  &__button-small {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 80px;
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: #1968fc;
  }
  &__image {
    margin-top: 80px;
    width: 600px;
    height: 500px;
  }
  &__link {
    box-sizing: border-box;
    color: white;
    padding: 30px 60px 30px 60px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    background-color: blue;
    text-transform: uppercase;
    width: 640px;
  }
}
