@import "layout.scss";

.headline {
  @include for-small {
    padding-right: 80px;
    &__text {
      margin-left: 80px;
      width: 480px;
      &_header {
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
      }
      &_description {
        font-family: "Mulish", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
      }
    }
    &__button {
      margin-left: 80px;
      font-family: "Mulish", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      margin-top: 40px;
      width: 300px;
      height: 50px;
    }
    &__image {
      margin-left: 40px;
      margin-top: 80px;
      width: 600px;
      height: 500px;
    }
    &__link {
      box-sizing: border-box;
      color: white;
      padding: 30px 60px 30px 60px;
      font-family: "Mulish", sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      background-color: blue;
      width: 640px;
    }
  }
}
