@import "layout.scss";
.page-footer {
  @include for-small {
    height: 130px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: 40px;
    &__navigation {
      display: none;
    }
    &__logo {
      max-height: 100%;
    }
    &__image {
      right: -40px;
      position: absolute;
    }
    &__description {
      padding: 15px;
      font-family: "Mulish", sans-serif;
      font-weight: 600;
      font-size: 14px;
      vertical-align: 50px;
      line-height: 20px;
      color: #1968fc;
      margin-right: 50px;
    }
    &__social-link {
      padding: 15px;
      margin-left: 10px;
      display: inline-flex;
      align-items: center;
      max-height: 20px;
      max-width: 20px;
    }
  }
}
