@import "layout.scss";
.logo {
  display: flex;
  &__text {
    padding: 10px 15px 15px 15px;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 20px;
    vertical-align: 50px;
    line-height: 30px;
    color: #1968fc;
    margin-right: 50px;
  }
}
.page-header {
  box-sizing: border-box;
  @include for-large {
    box-sizing: border-box;
    display: flex;
    margin-left: 160px;
    margin-right: 160px;

    &__navigation {
      font-family: "Work Sans", sans-serif;
      line-height: 20px;
      box-sizing: border-box;
      font-size: 14px;
      width: 640px;
      margin-left: 220px;
      display: flex;
      justify-content: center;
      &_item {
        padding: 15px 20px 20px 20px;
        text-decoration: none;
        color: black;
      }
    }
    &__button {
      font-family: "Mulish", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      min-width: 180px;
      height: 50px;
      text-transform: uppercase;
      color: white;
      background-color: #1968fc;
      border: none;
      outline: none;
    }
  }
  @include for-small {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 80px;
    padding-top: 40px;
    padding-left: 80px;
    width: 640px;
    &__navigation {
      display: none;
    }
    &__button {
      display: none;
    }
    &__logo {
      &_text {
        flex-direction: column;
        display: flex;
        justify-content: center;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        margin-left: 10px;
        color: blue;
      }
    }
  }
}
