@import "layout.scss";
.purposes {
  @include for-small {
    margin-top: 125px;
    &__header {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 20px;
    }
    &__cards {
      margin-right: 60px;
      margin-left: 60px;
    }
  }
  @include for-large {
    margin: 160px;
    &__header {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
      margin-right: 60px;
      margin-bottom: 50px;
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .purpose {
    @include for-small {
      background-color: white;
      display: flex;
      margin-bottom: 40px;
      &__description {
        margin: 20px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
      }
    }
    @include for-large {
      display: flex;
      background-color: white;
      margin-bottom: 40px;
      width: 540px;
      height: 80px;
      &__description {
        margin: 20px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
      }
    }
  }
}
