@import "layout.scss";
.purposes {
  margin-top: 125px;
  &__header {
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
  }
  &__cards {
    margin-right: 60px;
    margin-left: 60px;
    &_card {
      background-color: white;
      display: flex;
      margin-bottom: 40px;
      &_description {
        margin: 20px;
        font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 40px;
      }
    }
  }
}
