@import "layout.scss";
.users {
  @include for-small {
    &__header {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
      margin-top: 125px;
      margin-left: 60px;
    }
    &_cards {
      display: flex;
      flex-wrap: wrap;
      margin-left: 60px;
    }
  }
  @include for-large {
    &__header {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 30px;
      line-height: 60px;
      margin-left: 160px;
      margin-bottom: 60px;
    }
    &_cards {
      display: flex;
      flex-wrap: wrap;
      margin-left: 160px;
    }
  }
}
.user {
  @include for-small {
    width: 250px;
    height: 190px;
    background-color: white;
    margin-bottom: 20px;
    &:nth-child(n + 1) {
      margin-right: 20px;
    }
    &_header {
      margin: 20px;
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      color: #1967fa;
    }
    &_description {
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      margin: 0px 20px 20px 20px;
    }
  }
  @include for-large {
    width: 360px;
    height: 160px;
    background-color: white;
    margin-bottom: 20px;
    &:nth-child(n + 1) {
      margin-right: 20px;
    }
    &_header {
      margin: 20px;
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
      color: #1967fa;
    }
    &_description {
      font-family: "Mulish", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      margin: 0px 20px 20px 20px;
    }
  }
}
