@import "layout.scss";

.users {
  &__header {
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    margin-top: 125px;
    margin-left: 60px;
  }
}
