.my-button {
  width: 200px;
  height: 50px;
  background-color: coral;
  color: white;
  margin: 64px;
  line-height: 50px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.my-button:hover > .bird-icon {
  fill: green;
}
.my-button:hover {
  color: darkcyan;
}
body {
  display: flex;
}
.bird-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: white;
}
