.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: sticky;
}
ul {
  margin-top: auto;
  height: 40px;
  display: inline-flex;
  align-items: center;
}
li {
  list-style-type: none;
  margin-left: 16px;
  color: white;
}
.main-content {
  background-color: beige;
  height: 5000px;
}
.bear {
  height: 260px;
  width: 280px;
  position: absolute;
  top: 44%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.ears {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}
.head {
  width: 200px;
  height: 120px;
  background-color: aquamarine;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.eyes {
  height: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
}
.eye {
  border-radius: 50%;
  background-color: gray;
  width: 30px;
  height: 30px;
}
