.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}
.spinner {
  position: relative;
}
.spinner-text {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.circle {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  border: 4px lightgray solid;
  border-radius: 100%;
  border-top: 4px solid black;
  animation: rotate 2s linear;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* @keyframes loading {
  0% {
  }
  25% {
    border-right: 4px solid black;
    opacity: 1;
  }
  50% {
    border-bottom: 4px solid black;
    opacity: 1;
  }
  75% {
    border-left: 4px solid black;
  }
  100% {
  }
} */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
