.header {
  height: 3em;
  background-color: #006400;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.menu {
  height: 100%;

  margin-left: 3em;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  &__item {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #9acd32;
    }
  }
  &__item_active {
    color: yellow;
    position: relative;
    &:hover {
      .submenu {
        visibility: visible;
      }
    }
  }
}
.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 1;
  min-width: 120px;
  top: 3em;
  &__item {
    margin-left: 8px;
    padding: 8px;
    list-style-type: none;
    &:hover {
      color: black;
    }
  }
  visibility: hidden;
}
