@import "layout.scss";

.audience {
  background-color: rgba($color: #00a1c6, $alpha: 0.07);
  @include for-medium {
    padding-left: 130px;
    padding-right: 130px;
    width: 1400px;
    box-sizing: border-box;
    height: 983px;
    &__headline {
      display: flex;
      justify-content: space-around;
      padding-top: 108px;
      font-family: "Work Sans", sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
    }
    &__header {
      width: 555px;
      text-align: center;
      padding-left: 292px;
      padding-top: 24px;
      font-family: "Work Sans", sans-serif;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
    }
    &__description {
      width: 555px;
      text-align: center;
      padding-left: 292px;
      padding-top: 30px;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
    }
    &__buttons {
      display: flex;
      padding-left: 406px;
      margin-top: 30px;
    }
    &__cards {
      margin-top: 111px;
      display: flex;
      justify-content: space-between;
    }
    &__card {
      padding-top: 22px;
      padding-bottom: 33px;
      width: 262px;
      height: 300px;
      box-sizing: border-box;
      background-color: white;
      &_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      &_description {
        text-align: center;
        font-family: "Work Sans", sans-serif;
        font-weight: 700;
        margin-top: 22px;
        font-size: 22px;
        line-height: 28px;
      }
      &.selected {
        color: white;
        background-color: #3141c5;
      }
    }
  }
  @include for-small {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    &__headline {
      display: flex;
      justify-content: space-around;
      font-family: "Work Sans", sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      margin-top: 50px;
    }
    &__header {
      display: flex;
      justify-content: space-around;
      text-align: center;
      font-family: "Work Sans", sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      margin-top: 17px;
    }
    &__description {
      text-align: center;
      font-family: "Work Sans", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      margin-top: 18px;
    }
    &__cards {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      box-sizing: border-box;
      padding-left: 15px;
      margin-top: 40px;
    }
    &__card {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      padding-top: 22px;
      padding-bottom: 33px;
      width: 290px;
      height: 300px;
      box-sizing: border-box;
      background-color: white;
      margin-bottom: 15px;
      &_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      &_description {
        text-align: center;
        font-family: "Work Sans", sans-serif;
        font-weight: 700;
        margin-top: 22px;
        font-size: 22px;
        line-height: 28px;
      }
      &.selected {
        color: white;
        background-color: #3141c5;
      }
    }
  }
}
