@import "layout.scss";
.headline {
  box-sizing: border-box;
  background-color: #f3c6bd;
  position: relative;
  @include for-medium {
    width: 1400px;
    background-color: #f3c6bd;
    &__info {
      position: relative;
      width: 754px;
      margin-left: 130px;
      padding-top: 81px;
      margin-right: 130px;
      padding-bottom: 81px;
      z-index: 1;
      &_main {
        font-family: "Work Sans", sans-serif;
        font-size: 80px;
        font-weight: 700;
      }
      &_description {
        font-family: "Work Sans", sans-serif;
        font-size: 24px;
        width: 456px;
        height: 102px;
        margin-top: 34px;
        margin-bottom: 58px;
        font-weight: 400;
        line-height: 34px;
      }
    }
    &__button {
      width: 160px;
      height: 48px;
      border-radius: 2px;
      background-color: #3040c4;
      border: none;
      box-shadow: none;
      padding: 0;
      color: white;
      font-weight: 700;
      font-size: 18px;
      line-height: 13px;
      &.button_white {
        color: black;
        background-color: white;
      }
    }
    &__image {
      position: absolute;
      top: 85px;
      left: 579px;
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png);
      border: none;
      width: 796px;
      height: 448px;
    }
  }
  @include for-small {
    &__info {
      padding-top: 35px;
      &_main {
        margin-left: 15px;
        font-family: "Work Sans", sans-serif;
        font-size: 50px;
        line-height: 50px;
        font-weight: 700;
      }
      &_description {
        margin-left: 15px;
        padding-top: 24px;
        margin-bottom: 15px;
        font-family: "Work Sans", sans-serif;
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
      }
    }
    &__button {
      margin-left: 15px;
      margin-top: 15px;
      width: 290px;
      height: 48px;
      border-radius: 2px;
      background-color: #3040c4;
      border: none;
      box-shadow: none;
      padding: 0;
      color: white;
      font-weight: 700;
      font-size: 18px;
      line-height: 13px;
      &.button_white {
        color: #3040c4;
        background-color: white;
      }
    }
    &__image {
      height: 180px;
      width: 320px;
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png);
      background-size: cover;
    }
  }
}
