@import "layout.scss";
.headline {
  @include for-medium {
    width: 754px;
    margin-left: 126px;
    margin-top: 81px;
  }
  &__info {
    &_main {
      font-family: "Work Sans", sans-serif;
      font-size: 80px;
      font-weight: 700;
    }
    &_description {
      font-family: "Work Sans", sans-serif;
      font-size: 24px;
      width: 456px;
      height: 102px;
      margin-top: 34px;
      margin-bottom: 58px;
      font-weight: 400;
      line-height: 34px;
    }
  }
  &__button {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: #3040c4;
    border: none;
    box-shadow: none;
    padding: 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
  }
  &__image {
    position: absolute;
    z-index: 0;
    top: 185px;
    left: 100vh;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png);
    border: none;
    width: 796px;
    height: 448px;
  }
}
