@import "layout.scss";

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 710px;
  background-color: red;
  flex: 0 0 auto;
  @include for-small {
    display: flex;
    width: 100%;
    height: 64px;
    &__logo {
      display: flex;
      flex-direction: row;
      &_image {
        margin-top: auto;
        margin-bottom: auto;
        width: 48px;
        height: 48px;
      }
      &_text {
        margin: auto 0 auto 0;
      }
      &_description {
        display: none;
      }
    }
    &__navigation {
      display: none;
      &_icon {
        border-left: solid 2px;
        width: 58px;
        height: 100%;
        background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
      }
    }
    &__button {
      display: none;
    }
    &__arrow {
      display: none;
    }
  }
}
