@import "layout.scss";

.order {
  background-color: #f4f5f7;
  @include for-medium {
    width: 1400px;
    height: 390px;
    position: relative;
    &__image {
      position: absolute;
      top: 73px;
      left: 224px;
    }
    &__form {
      width: 555px;
      margin-left: 616px;
      padding-top: 106px;
      &_header {
        font-family: "Work Sans", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 12px;
      }
      &_description {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
      }
      &_submit {
        display: flex;
        margin-top: 26px;
      }
      &_input {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 13px;
        width: 385px;
        height: 48px;
        margin-right: 10px;
      }
      &_trial {
        margin-top: 10px;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
      &_button {
        width: 160px;
        height: 48px;
        border-radius: 2px;
        background-color: #3040c4;
        border: none;
        box-shadow: none;
        padding: 0;
        color: white;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
      }
    }
  }
  @include for-small {
    height: 827px;
    box-sizing: border-box;
    &__image {
      width: 200px;
      height: 220px;
      margin: 50px 60px 0px 60px;
    }
    &__form {
      &_header {
        font-family: "Work Sans", sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        margin: 40px 15px 18px 15px;
      }
      &_description {
        box-sizing: border-box;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 22px;
        height: 167px;
        line-height: 32px;
        margin-left: 15px;
        margin-right: 15px;
      }
      &_input {
        box-sizing: border-box;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 13px;
        width: 290px;
        margin-left: 15px;
        height: 48px;
        margin-right: 15px;
        margin-top: 40px;
        text-align: center;
      }
      &_button {
        margin: 15px 15px 0px 15px;
        width: 290px;
        height: 48px;
        border-radius: 2px;
        background-color: #3040c4;
        border: none;
        box-shadow: none;
        padding: 0;
        color: white;
        font-weight: 700;
        font-size: 18px;
        line-height: 13px;
      }
      &_trial {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
