html {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}
div {
  height: 200px;
  text-align: center;
  background-color: coral;
  line-height: 200px;
  text-transform: uppercase;
  color: white;
}
header h1 {
  text-align: center;
  margin: auto;
  font-size: 74px;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
