html {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}
div {
  height: 200px;
  text-align: center;
  background-color: coral;
  line-height: 200px;
}
header {
  font-size: 74px;
  width: 50%;
  text-align: center;
  padding-left: 25%;
}
