.header {
  height: 50px;
  background-color: yellow;
}
.footer {
  height: 50px;
  background-color: green;
  clear: both;
}
.content {
  height: 500px;
  width: 80%;
  box-sizing: border-box;
  background-color: pink;
}
.sidebar {
  float: right;
  height: 500px;
  width: 20%;
  box-sizing: border-box;
  background-color: gray;
}
