@keyframes move {
  from {
    top: -100px;
  }

  to {
    top: calc(50vh - 50px);
  }
}
.block {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  height: 100px;
  line-height: 100px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: coral;
  animation: move 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
