.container {
  margin: 32px;
  box-sizing: border-box;
}
.rect {
  margin-bottom: 16px;
  width: 100px;
  height: 100px;
  background-color: coral;
  opacity: 0.5;
  line-height: 100px;
  text-align: center;
  box-sizing: border-box;
  transition-property: width, opacity;
  transition: 2s, 0.5s;
}
.rect:hover {
  width: 100%;
  opacity: 1;
}
.linear {
  transition-timing-function: linear;
}
.ease {
  transition-timing-function: ease;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
